:root {
  --ff: "Overpass", sans-serif;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-400: 0.9375rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;

  --clr-primary: hsl(25, 97%, 53%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(217, 12%, 63%);
  --clr-neutral-400: hsl(216, 12%, 54%);
  --clr-neutral-500: hsl(210, 19%, 18%);
  --clr-neutral-600: hsl(213, 19%, 18%);
  --clr-neutral-700: hsl(215, 20%, 16%);
  --clr-neutral-800: hsl(215, 27%, 12%);
  --clr-neutral-900: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: var(--clr-neutral-300);
}

h1 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-100);
  line-height: 0;
}

body {
  background-color: var(--clr-neutral-900);
  margin: 0;
}

.wrapper {
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-inline: 1.5rem;
}

.wrapper > :last-child {
  display: none;
}
.wrapper.switched > :last-child {
  display: block;
}
.wrapper.switched > :first-child {
  display: none;
}

.card {
  background: radial-gradient(
    ellipse at center top,
    var(--clr-neutral-700),
    var(--clr-neutral-800)
  );
  border-radius: 2rem;
}

.card__content {
  min-height: 420px;
  display: grid;
  padding: 1.5rem;
  line-height: 1.5em;
}

.card__icon {
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  border-radius: 50%;
  width: 3rem;
  aspect-ratio: 1 / 1;
  background-color: var(--clr-neutral-600);
}

.card__options {
  display: flex;
  justify-content: space-between;
}

.card__options > * {
  display: grid;
  place-items: center;
  margin-top: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-color: var(--clr-neutral-600);
  font-size: var(--fs-400);
}

.card__options > *:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
}

.active {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}

.card__button {
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  margin-top: 2rem;
  border: 0;
  border-radius: 5rem;
  padding: 1em 1.5em;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-100);
  font-size: 0.925rem;
  font-weight: var(--fw-bold);
}

.card__button:is(:hover, :focus) {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary);
}

.card__image > img {
  max-width: 100%;
  display: block;
  margin-inline: auto;
  margin-top: 1rem;
}

.card__choice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.5rem 1rem;
  background-color: var(--clr-neutral-500);
  color: var(--clr-primary);
  border-radius: 5rem;
}

.thank-you-state {
  text-align: center;
  margin-inline: 0.5rem;
}

.card__header {
  display: grid;
  place-items: center;
  margin-bottom: -2rem;
}

.card__message {
  display: grid;
  place-items: center;
  margin-bottom: -1rem;
}
